<!DOCTYPE html>
<html>
<head>
  <title>Audio Guestbook</title>
</head>
<body>
  <h1>Welcome to Our Audio Guestbook</h1>
  <button onclick="startRecording()">Record Message</button>
  <button onclick="stopRecording()">Stop</button>
  <audio id="audioPlayback" controls></audio>

  <script>
    let mediaRecorder;
    let audioChunks = [];


    
  
    async function startRecording() {
      const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
      mediaRecorder = new MediaRecorder(stream);
      audioChunks = []; 
  
      mediaRecorder.ondataavailable = event => {
        audioChunks.push(event.data);
      };
  
      mediaRecorder.onstop = () => {
        const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
        const audioUrl = URL.createObjectURL(audioBlob);
        document.getElementById("audioPlayback").src = audioUrl;
        console.log("Recording stopped, audio set");
  
        const formData = new FormData();
        formData.append("audio_data", audioBlob, "guest_message.wav");
  
        // Uploading to Flask server / s3 bucket
        fetch("/save", {
          method: "POST",
          body: formData,
        })
        .then(response => response.json())
        .then(data => {
          if (data.url) {
            console.log("Uploaded to S3 at:", data.url);
            alert("Message uploaded successfully!");
          } else {
            console.error("Upload error:", data.error);
            alert("Failed to upload: " + data.error);
          }
        })
        .catch(err => {
          console.error("Fetch error:", err);
          alert("Upload failed.");
        });
      };
  
      mediaRecorder.start();
    }


  
    function stopRecording() {
      if (mediaRecorder) {
        mediaRecorder.stop();
      }
    }
  </script>
  
</body>
</html>
